html {
    height: 100%;
    font-size: 14px;
    line-height: 1.2;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
    
    // Custom Scrollbar
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 0.5rem 0;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--surface-border);
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
            background: var(--surface-border);
        }
    }

    // Firefox
    scrollbar-width: thin;
    scrollbar-color: var(--surface-border) transparent;

    // Smooth Scrolling
    scroll-behavior: smooth;
}
