/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 0.875rem;
    margin-bottom: 1rem;
    border-radius: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    /* Keep toast within mobile frame */
    max-width: 440px;
    
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 4rem;
    }
}